@{
    ViewBag.Title = "Numbers To Words";
}

@section scripts
{
    @Scripts.Render("~/bundles/inputmask-numeric")
}

<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <span>Numbers To Words</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <input id="txtInput" type="text" class="form-control text-right" data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true" data-weburl="@Html.Raw(Url.Content("~/api/numbertowords"))">
                    </div>
                    <div class="col-md-12">
                        <div class="checkbox">
                            <input type="checkbox" checked id="chkCurrency" class="checkbox-inline" /><label for="chkCurrency">Currency</label>
                        </div>
                    </div>
                    <br />
                    <div id="pnlAnswer" class="col-md-12">
                        <div class="panel  panel-default">
                            <div class="panel-body">
                                <strong>Answer:</strong>
                                <div class="col-md-12 uppercase" id="divAnswer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>